@import "../Variable";
:global{
  .m-author{
    >div{
			background-color: #fff;
    }
    dl{
      background-color: #fff;
      display: flex;
      justify-content: center;
      >div{
        width: 106px;
        text-align: center;
        margin: 16px 0;
        border-right: 1px solid @bg-a;
        &:last-child{
          border-right: none;
        }
        dd{
          padding-bottom: 12px;
          font-size: @fontBase;
          font-weight: bold;
        }
        dt{
          color: gray;
        }
      }
    }
    .profile{
      background: url('../../assets/images/banner1.png') no-repeat;
      background-size: auto 100%;
      padding: 48px 0 20px;
      text-align: center;
      margin-top: -@navHeight;
      h1{
        font-size: @fontSmall;
        margin: 12px 0;
        font-weight: bold;
        color: #fff;
      }
      h2{
        font-size: @fontTip;
        color: #ccc;
        font-weight: normal;
      }
      button{
        margin: 0;
        margin-top: 16px;
        color: #fff;
        width: 85px;
        background: transparent;
        border-radius: 12px;
        height: 24px;
        line-height: 24px;
        border: 1px solid #fff;
        padding: 0;
        .icon{
          position: relative;
        }
      }
    }
    .slogan{
      background-color: @bgcolor;
      text-align: center;
      line-height: 1.6;
      font-size: @fontBase;
      p{
        max-width: 50%;
        margin: 24px auto 16px auto;
        color: #333;
      }
      img{
        width: 20px;
      }
    }
    .intro{
			p{
        margin-top: 16px;
      }
    }
    .m-miniCard{
      margin: 12px 0;
    }
  }
}