@import "../Variable";
:global{
    .m-comment{
        .baseInfo{
			padding: 16px 12px;
			margin-bottom: 10px;
			background-color: #fff;
			h1{
				font-size: @fontBase;
				margin-bottom: 10px;
			}
			h2{
				font-size: @fontSmall;
				color: gray;
				font-weight: normal;
				margin: 4px 0;
			}
			span{
				color: #ccc;
				display: inline-block;
				padding-right: 24px;
				margin-right: 24px;
				border-right: 1px solid #999;
			}
			h3{
				font-size: 14px;
				font-weight: normal;
				margin: 10px 0;
			}
		}
		.textWra{
			position: absolute;
			top: 120px+@navHeight;
			width: 100%;
			bottom: 0;
			padding: 12px;
			background-color: #fff;
			box-sizing: border-box;
			.btn{
				margin-top: 30px;
				width: 100%;
			}
		}
    }
}