@import "../Variable";
:global{
	.u-title{
		color: #666;
		font-size: 18px;
		font-weight: normal;
	}
	.u-card{
		padding: 10px;
		margin: 10px 0;
	}
	.topBg{
		margin-top: -@navHeight;
		height: 172px;
		overflow: hidden;
		img{
			max-width: 100%;
			min-width: 100%;
		}
	}
	.m-detail{
		>div{
			background-color: #fff;
		}
		.baseInfo{
			padding: 16px 12px;
			border-bottom: 1px solid @bg-a;
			h1{
				font-size: 18px;
				font-weight: bold;
				color: #000;
			}
			h2{
				font-size: 14px;
				color: @text-b;
				font-weight: normal;
				margin: 12px 0 20px 0;
			}
			span{
				color: @text-y;
				display: inline-block;
				margin-right: 24px;
			}
			h3{
				font-size: 14px;
				font-weight: normal;
				margin-bottom: 20px;
				.icon-add{
					float: left;
				}
				p{
					margin-left: 32px;
				}
			}
			.icon{
				width: 20px;
				height: 20px;
				margin-right: 12px;
			}
		}
		.progress{
			padding: 16px;
			border-bottom: 1px solid @bg-a;
			color: @text-a;
			font-size: @fontTip;
			span:last-child{
				float: right;
				color: @text-b;
			}
		}
		.activityInfo{
			overflow: auto;
			&::-webkit-scrollbar{
				display: none;
			}
		}
		.activityDetail{
			padding: 10px;
			margin: 10px 0;
			img{
				margin: 20px 0;
			}
			p{
				font-size: 16px;
				line-height: 1.6;
			}
			a{
				display: block;
				margin: 10px auto;
				height: 28px;
				line-height: 28px;
				width: 100px;
				border-radius: 14px;
				border: 2px solid red;
				color: red;
				text-align: center;
			}
		}
		.activityRecommend{
			padding: 10px;
			margin: 10px 0;
		}
	}
}