:global{
	*{
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
	}
}
.header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.content{
	padding-top: 64px;
	padding-bottom: 56px;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}