@import "./Variable";
:global{
	*{
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
	}
	a{
		color: @text-c;
	}
	.btn{
		background-color: @color-b;
		border: 0;
		border-radius: 4px;
		width: 134px;
		padding: 10px 0;
		text-align: center;
		font-size: 14px;
		color: #fff;
		&.free{
			background-color: @color-f;
		}
	}
	.icon{
		width: 14px;
		height: 14px;
		display: inline-block;
		background-size: auto 100%;
		background-position: center;
		margin-right: 6px;
		background-repeat: no-repeat;
		vertical-align: middle;
	}
	.icon-load{
		background-image: url(../assets/images/load.png);
	}
	.icon-money{
		background-image: url(../assets/images/icon_pay.png);
		background-size: 100%;
		margin-top: -4%;
	}
	.icon-free{
		background-image: url(../assets/images/icon_free.png);
		background-size: 100%;
		margin-top: -4%;
	}
	.icon-cal{
		background-image: url(../assets/images/icon_time.png);
	}
	.icon-add{
		background-image: url(../assets/images/icon_map.png);
	}
	.icon-clock{
		background-image: url(../assets/images/icon_clock.png);
	}
	.icon-right{
		background-image: url(../assets/images/icon_button_pre.png);
	}
	.icon-activity{
		background-image: url(../assets/images/icon_activity.png);
	}
	.icon-more{
		background-image: url(../assets/images/icon_moreac.png);
	}
	.icon-user{
		background-image: url(../assets/images/user_bu.png);
	}
	.icon-mob{
		background-image: url(../assets/images/phone_bu.png);
	}
	.icon-calbu{
		background-image: url(../assets/images/data_bu1.png);
	}
	.icon-addbu{
		background-image: url(../assets/images/place_bu.png);
	}
	.icon-price{
		background-image: url(../assets/images/price_bu.png);
	}
	.icon-notice{
		background-image: url(../assets/images/notice_bu.png);
	}
	.icon-wechat{
		background-image: url(../assets/images/weichat_bu.png);
	}
	.icon-plus::before{
		content: '+';
		display: block;
		font-style: normal;
		line-height: 1;
	}
	.icon-dup{
		background-image: url(../assets/images/darrow_up.png);		
	}
	.icon-ddown{
		background-image: url(../assets/images/darrow_down.png);		
	}
	.icon-ticket{
		background-image: url(../assets/images/icon_ticket.png);		
	}
	.icon-collect{
		background-image: url(../assets/images/icon_mycollection.png);		
	}
	.icon-mylike{
		background-image: url(../assets/images/icon_Mylike.png);		
	}
	.icon-fan{
		background-image: url(../assets/images/icon_fan.png);		
	}
	.icon-like{
		background-image: url(../assets/images/like.png);
	}
	.icon-liked{
		background-image: url(../assets/images/liked.png);
	}
	.icon-discuss{
		background-image: url(../assets/images/icon_discuss.png);
	}
	.icon-laugh{
		background-image: url(../assets/images/laugh.png);		
	}
	.icon-wrong{
		background-image: url(../assets/images/wrong.png);		
	}
	.icon-logor{
		background-image: url(../assets/images/logo01.png);				
	}
}
.header{
	top: 0;
	width: 100%;
	z-index: 999;
}
.content{
	padding-top: @navHeight;
	background-color: @bgcolor;
	min-height: 100%;
	box-sizing: border-box;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 999;
}