@import "./Variable";
:global{
	*{
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
	}
	a{
		color: @text-c;
	}
	.icon{
		width: 14px;
		height: 14px;
		display: inline-block;
		background-size: 100%;
		margin-right: 6px;
		background-repeat: no-repeat;
		vertical-align: middle;
	}
	.icon-load{
		background-image: url(../assets/images/load.png);
	}
	.icon-money{
		background-image: url(../assets/images/icon_pay.png);
	}
	.icon-free{
		background-image: url(../assets/images/icon_free.png);
	}
}
.header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.content{
	padding-top: @navHeight;
	padding-bottom: 56px;
	background-color: @bgcolor;
	min-height: 100%;
	box-sizing: border-box;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 999;
}