@navHeight: 60px;
@fontTitle: 18px;
@fontBase: 16px;
@fontSmall: 14px;
@fontTip: 12px;
@bgcolor: #e7edf3;
@color-a: #2e445c;
@color-b: #e1274c;
@color-c: #972245;
@color-f: #34a98d;
@text-a: #474a4f;
@text-b: #7e848c;
@text-c: #3672b3;
@text-y: #928a43;
@bg-a: #edf1f5;
@bg-a-pressed: #d4dae1;
@bg-b: #f9fbfc;
@box-shadow: 0 0 6px #cccccc;
@border: 1px solid @bgcolor;