@import '../../routes/Variable';

:global{
  .m-navbar{
    .titleWra{
      font-weight: bold;
      a{
        color: #9aa2aa;
      }
    }
  }
  .user-small {
    position: relative;
    padding: 16px 12px;
    background-color: white;
    .avatar {
      display: inline-block;
      margin-right: 12px;
    }
    .content {
      display: inline-block;
      vertical-align: top;
      h1{
        font-size: @fontSmall;
      }
      h2{
        font-size: @fontTip;
        font-weight: normal;
        color: gray;
      }
    }
    .likeBtn{
      float: right;
    }
  }
}