@import '../../routes/Variable';

:global{
  .user-small {
    height: 60px;
    position: relative;
    padding: 16px 12px;
    background-color: white;
    img {
      display: inline-block;
      margin-right: 12px;
    }
    .content {
      display: inline-block;
      vertical-align: top;
      //padding-top: 4px;
      .txt12 {
        margin-top: 4px;
      }
    }
  }
}