:global{
	.m-detailCard{
		margin: 10px;
		text-align: center;
		dl{
			overflow: auto;
		}
		dl>div{
			width: 25%;
			float: left;
			box-sizing: border-box;
			border-right: 1px solid #666;
		}
		dl>div:last-child{
			border-right: 0;
		}
		dt{
			font-size: 12px;
			color: #666;
		}
		p{
			text-align: left;
		}
		a{
			float: right;
		}
	}
}