:global{
	.m-nameCard{
		background-color: rgb(36,42,71);
		text-align: center;
		padding: 20px 0 10px;
		h1{
			color: #fff;
			font-size: 16px;
		}
		h2,h3{
			color: #999;
			font-size: 14px;
		}
		a{
			color: #666;
			display: inline-block;
			margin-top: 10px;
		}
	}
}