@import '../routes/Variable';

:global{
  .m-navbar {
    height: @navHeight;
    .titleWra{
      text-align: center;
      margin-left: -40px;
      display: block;
    }
    span{
      font-size: @fontBase;
    }
    .icon-edit{
      background: url("../assets/images/icon_edit.png");
      background-size: 100%;
      width: 12px;
      height: 12px;
      display: inline-block;
      background-size: contain;
    }
    a{
      color: #fff;
    }
  }
  .logo{
    height: 36px;
    margin: 12px;
  }
}
