@import '../routes/Variable';

:global{
  .m-navbar {
    height: @navHeight;
    .titleWra{
      text-align: center;
      margin-left: -40px;
      display: block;
    }
    span{
      font-size: @fontBase;
    }
    .icon-edit{
      background: url("../assets/images/icon_edit.png");
      width: 16px;
      height: 17px;
      display: inline-block;
      background-size: contain;
    }
  }
}
