:global{
    .u-detail{
        padding: 16px;
        margin: 12px 0;
        img{
            min-width: 100%;
            max-width: 100%;
        }
        .imgWra{
            margin-top: 10px;
            max-height: 120px;
            overflow: hidden;
        }
        .richWra{
            max-height: 60px;
            margin-top: 10px;
            overflow: hidden;
            color: #474A4F;
            font-size: 14px;
            line-height: 20px;
            font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑",  "Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
            h1{
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                margin: 14px 0;
            }
            ul{
                list-style: disc;
                padding-left: 20px;
            }
            ol{
                padding-left: 20px;
                list-style: decimal;
            }
            li{
                list-style: inherit;
            }
            p{
                margin: 10px 0;
            }
        }
        .all{
            max-height: none;
        }
    }
}