@import '../../routes/Variable';

:global{
    ._likeBtn {
        display: inline-block;
        border-radius: 3px;
        color: @text-c;
        font-size: 12px;
        padding: 4px 14px 4px 8px;
        margin: 20px 12px;
        box-sizing: border-box;
        float: right;
        border: 1px solid @bg-a;
        background-color: #fff;
        .icon-right{
            width: 10px;
            height: 7px;
            margin-right: 4px;
        }
        &._liked{
            padding: 4px 11px;
        }
    }
}