:global{
    .listRight{
        position: absolute;
        right: 20px;
        max-width: 8em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #7e848c;
        font-size: 14px;
    }
}