:global{
  .dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -45px;
    li{
    	position: relative;
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    margin: 0 5px;
	    padding: 0;
	    cursor: pointer;
    }
    li.slick-active button:before{
    	opacity: .75;
    	color: #000;
    }
    button{
    	font-size: 0;
	    line-height: 0;
	    display: block;
	    width: 20px;
	    height: 20px;
	    padding: 5px;
	    cursor: pointer;
	    color: transparent;
	    border: 0;
	    outline: 0;
	    background: 0 0;
	    &::before{
	    	font-size: 6px;
		    line-height: 20px;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 20px;
		    height: 20px;
		    content: '•';
		    text-align: center;
		    opacity: .25;
		    color: #000;
	    }
    }
  }
}