@import '../../routes/Variable';
:global{
    .m-comment{
        h1{
            font-size: @fontSmall;
            font-weight: normal;
        }
        h2{
            font-size: @fontTip;
            font-weight: normal;
            color: #666;
        }
        .comment{
            border-bottom: @border;
        }
    }
}