@bg-color: #ccc;
@color: #333;
:global{
	.m-scrollTab{
		overflow: auto;
		background-color: rgb(46, 68, 92);
		&::-webkit-scrollbar{
			display: none;
		}
		.tab {
			height: 48px;
			line-height: 48px;
			vertical-align: middle;
			padding: 0 10px;
			display: inline-block;
			color: rgba(255, 255, 255, 0.7);
			&.active {
			  border-bottom: solid 2px red;
			}
		  }
		  
		  #tab-container {
			background-color: rgb(46, 68, 92);
			z-index: 1001;
		  }
	}
}