@import '../../routes/Variable';
:global{
    .m-detail{
        footer{
            position: fixed;
			bottom: 0;
			width: 100%;
			padding: 14px 16px;
			z-index: 999;
            background: #fff;
            box-shadow: -1px 0 2px #eee;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            span{
                flex: 1;
            }
            svg{
                margin: 0 10px;
            }
            button{
                float: right;
                span{
                    font-size: 12px;
                }
                &.free{
                    background-color: @color-f;
                }
            }
        }
    }
}